$mainColour:#43536d;
$secondColour: #e0e0e0;
$hoverColour: #b3b3b5;
$mainFont: 'Roboto', sans-serif;
$siteSize: 1250px;

*{
	margin: 0 auto;
	box-sizing: border-box;
}

.pageContainer {
	width: $siteSize;
}

.col {
	min-height: 100px;
	float:left;
	padding: 12px;
	box-sizing: border-box;
}

.row::after {
	clear:both;
	display:block;
	content:'';
}

$columns: 12;
$columnWidth: 100% / $columns;
@for $i from 1 through $columns {
	.col#{$i}{
		width: $columnWidth * $i;
	}
	.offset#{$i}{
		margin-left: $columnWidth * $i;
	}
}

.grey {
	background-color: $mainColour;
}

.white {
	background-color: $secondColour;
}

.block {
	height: 200px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	color: $hoverColour;
}

li {
	float: left;
	padding: 35px 30px 0px 68px;
	font-family: $mainFont;
	text-transform: uppercase;
	font-size: 20px;
}

li a {
	display: block;
	align: center;
	color: white;
}

li a:hover {
	color: $hoverColour;
}

.image {
	height: 500px;
	padding: 0;
}

.content {
	height: 400px;
}

.heading1 {
	margin-top: 60px;
	margin-left: 30px;
}

h1 {
	text-align: center;
	padding-top: 20px;
	font-family: $mainFont;
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 4px;
}

h2 {
	color: white;
	font-family: $mainFont;
	font-size: 45px;
	text-align: right;
	padding-top: 46px;
}

h3 {
	color: $secondColour;
	font-family: $mainFont;
	font-size: 43px;
	padding-top: -10px;
}

.center {
	display: block;
	align-content: center;
	float: left;
	margin-top: 85px;
}

.roomImage {
	height: 90%;
	padding: 0;
	padding-left: 100px;
}

p {
	font-size: 20px;
	color: $secondColour;
	font-family: $mainFont;
}

.textbox {
	font-size: 22px;
}

.heading3 {
	text-align: center;
}

.review {
	margin-left: 75px;
	margin-top: 10px;
	height: 50%;
}

h4 {
	font-family: $mainFont;
	text-align: center;
	font-size: 19px;
	padding-top: 5px;
}

.reviewbox {
	color: $mainColour;
	font-size: 18px;
	padding-top: 10px;
}

.checked {
  color: #b72d2d;
  padding-top: 5px;
}

.footertext {
	text-align: center;
	color: $mainColour;
}

@media screen and (max-width: 800px){
	.pageContainer {
		width: 800px;
	}
}